@import './../styles/commonStyle';

.reivew-header {
  margin-bottom: 2rem;
}

.headline {
  margin-bottom: 0.5rem !important;
}

.info {
  p {
    color: gray;
  }
}

.btn-submit {
  background: rgb(0, 206, 111);
  color: white;
}
